extends layout.pug

block content
    .card.mb-4
        .card-body
            h1.text-center Comentar en la publicación #{postId}
            form(action=`/comment/${postId}`, method="POST")
                .form-group
                label(for="comment") Comentario
                textarea.form-control(name="comment", required)
                button.btn.mt-3.btn-primary(type="submit") Enviar comentario
            a.btn.mt-3.btn-secondary(href='/') Volver a la lista de publicaciones