doctype html
html
    head
        title Blog Personal
        link(rel="stylesheet", href="/public/styles/styles.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        h1 Bienvenido a mi Blog
        a(href="/new") Crear nueva publicación
        a(href="/register") Registrarse
        a(href="/login") Iniciar sesión
        ul
            each post in posts
                li
                    a(href=`/edit/${post.id}`) Editar
                    | #{post.title} - #{post.author}
                    | a(href=`/comment/${post.id}`) Comentar
