doctype html
html
    head
        title Blog Personal
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        .container
            h1.text-center Bienvenido a mi Blog
        .d-flex.justify-content-between
            a.btn.btn-primary(href="/new") Crear nueva publicación
            a.btn.btn-secondary(href="/register") Registrarse
            a.btn.btn-info(href="/login") Iniciar sesión
        ul.list-group.mt-4
            each post in posts
                li.list-group-item
                    a(href=`/edit/${post.id}`) Editar
                    | #{post.title} - #{post.author}
                    a.btn.btn-sm.btn-info.float-right(href=`/comment/${post.id}`) Comentar
