doctype html
html
    head
        title Crear Nueva Publicación
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        .container
        h1.text-center Crear Nueva Publicación
        form(action="/new", method="POST")
            .form-group
            label(for="title") Título
            input.form-control(type="text", name="title", required)
            .form-group
            label(for="content") Contenido
            textarea.form-control(name="content", required)
            .form-group
            label(for="author") Autor
            input.form-control(type="text", name="author", required)
            .form-group
            label(for="category") Categoría
            input.form-control(type="text", name="category", required)
            button.btn.btn-success(type="submit") Publicar
